.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 5rem;
}

.title {
  font-family: "Megrim", system-ui;
  font-size: 22px;
  color: rgb(228, 219, 134);
}
